body{font-family: 'Poppins', sans-serif;
    margin: 0;}
h1{
    font-size: 50px;
    
}
h2{font-size: 40px}
.orange-color{ 
    color: rgb(219, 151, 23);
}
section{
    display: flex;
    
    
    
}
p{
    font-size: 16px;
    text-align: justify;
    color: rgb(78, 60, 60);
}
.top-banner{
    background-image: url(img/top-banner.png) ;
    background-repeat: no-repeat;

}

.half-width{ 
    
    margin:5%;
    width: 50%;
    
    
    
}
.half-width img{
    
    width:100%;   
}



.button{
text-decoration: none;
background-image: linear-gradient( rgb(223, 164, 56),rgb(241, 173, 45)) ;
color: white;
padding: 10px 40px ;
border-radius: 5px;
font-weight: 700;
}
.right-banner{
    background-image: url(img/dream-bg.png) ;
    background-position: bottom 80px  right  ;    
    background-repeat: no-repeat;


}
.footer-section{
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;

}
footer p{
    text-align: center;
}
.exp{
    margin-left: 5%;
}
.bottom-item{
    
    padding: 1%;
    box-shadow: 5px 5px 30px rgb(29, 29, 29);
    border-radius: 5px;

}
.bottom-section{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: top 150px left  ;
    border-radius: 5px;
   
}
#right-slice{
    
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#left-slice{
    
    border-left: 7px solid;
    border-image: linear-gradient(rgb(196, 129, 6), rgb(22, 255, 92));
    border-image-slice: 1;
}


